<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Raffraichir</button>
      <button>Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr class="selected">
          <td class="name">Marteau</td>
          <td class="price">2,50 €</td>
          <td class="qty">18</td>
        </tr>
        <tr class="selected">
          <td class="name">Tournevis</td>
          <td class="price">1,50 €</td>
          <td class="qty">25</td>
        </tr>
        <tr>
          <td class="name">Scie</td>
          <td class="price">5,50 €</td>
          <td class="qty">18</td>
        </tr>
        <tr>
          <td class="name">Perceuse</td>
          <td class="price">22,50 €</td>
          <td class="qty">18</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
