<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ab
    tenetur totam asperiores quam quod, dolor hic, illum commodi sit numquam
    fuga doloremque! Nam beatae incidunt assumenda ipsa laboriosam commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus
    earum quia, rerum ipsum fuga sed impedit quibusdam. Voluptates aspernatur
    suscipit minima labore consequatur rem tempora atque, hic veritatis nam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque libero,
    aperiam, soluta aut aliquid sit quaerat exercitationem saepe veniam modi
    corrupti eveniet animi consequuntur inventore asperiores fugit voluptatibus.
    Ut, consequatur?
  </p>
</main>
